@import url("https://fonts.googleapis.com/css?family=Montserrat:300");
@import url("https://fonts.googleapis.com/css?family=Yellowtail");
@import url("https://fonts.googleapis.com/css?family=Poiret+One");

body {
  font-family: "Montserrat", sans-serif;
}
#search-input {
  text-align: center;
}
.infowindow {
  font-size: 12px;
  max-width: 200px;
  font-family: "Montserrat", sans-serif;
}
.infowindow .title {
  color: rgba(0, 58, 165, 0.795);
}
.infowindow .address {
  color: rgb(90, 90, 90);
  text-transform: lowercase;
}
.map {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  position: relative;
  min-height: 100%;
}
.menu {
  -webkit-box-flex: 1;
  flex: 1;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  margin: 0;
  padding: 0;
  background: #404040;
  border-right: 2px solid #1c7c99;
}
.query-btn {
  background-color: #013f52;
  border: 1px solid rgba(255, 255, 255, 0.205);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  width: 100%;
  cursor: pointer;
}
.query-btn:hover {
  background-color: rgb(185, 165, 31);
  color: black;
}
a:link {
  color: #1c7c99;
}
.locs-name {
  cursor: pointer;
  list-style-type: none;
  padding: 10px 5px;
  border-bottom: 1px solid #0a82a7c0;
}
.locs-name:hover {
  background-color: rgb(185, 165, 31);
  color: white;
}
.locs-link {
  list-style-type: none;
}
.locs-link:hover {
  color: white;
}
.locs-holder {
  text-align: center;
  scroll-behavior: auto;
}

.query-locs-bar {
  position: fixed;
  width: 20%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
  overflow-y: scroll;
  background: rgb(77, 193, 223);
  padding-right: 0px;
}
.query-locs-bar::-webkit-scrollbar {
  display: none;
}
.query-locs-input-wrapper {
  flex: 1;
  background: rgb(77, 193, 223);
  height: 100%;
  width: 100%;
}
.query-locs-bar input {
  width: 100%;
  height: 5%;
  padding: 0px 0px;
  font-size: 0.8em;
  border: none;
  outline: none;
  text-align: center;
}
.error {
  background-image: url("./img/arizona_nps_2014_1.jpg");
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
}
.error-msg {
  text-align: center;
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  background: rgb(202, 202, 202);
  border: 1px solid #013f52;
  border-radius: 10px;
}
.error-text {
  margin-top: 30px;
}
.modal {
  background-image: url("./img/arizona_nps_2014_1.jpg");
  background-color: #09694575;
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  text-align: center;
  padding-top: 5%;
  font-family: "Poiret One", cursive;
  margin: 0 auto;
  font-size: 40px;
  color: rgb(185, 165, 31);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.81);
}
.modal-msg {
  height: 400px;
  margin: 0 auto;
  z-index: 15;
  background: rgba(202, 202, 202, 0.274);
  border: 1px solid #013f52;
}
.go-btn {
  font-size: 30px;
  font-family: "Yellowtail", cursive;
  height: 150px;
  width: 150px;
  background-color: #1788ab;
  border: 2px solid #0a2b35;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
}
.go-btn:hover {
  background-color: #00141a;
  color: rgb(185, 165, 31);
  border: 3px solid rgb(185, 165, 31);
  cursor: pointer;
  box-shadow: 0px 5px 30px 10px rgba(255, 238, 3, 0.74);
}
.button-holder {
  visibility: hidden;
}

@media (max-width: 600px) {
  .nav-main {
    position: fixed;
    top: 26%;
    left: 85%;
    padding: 0;
  }
  .nav-menu {
    background-color: rgb(25, 99, 117);
    border: 1px solid rgb(243, 245, 216);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    z-index: 100;
    font-size: 27px;
    padding: 0;
    color: white;
    animation: bounce 1s infinite alternate;
    -webkit-animation: bounce 1s infinite alternate;
  }

  .query-btn-mobile {
    background-color: #013f52;
    border: 1px solid rgba(255, 255, 255, 0.205);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    width: 50%;
    cursor: pointer;
  }
  .query-locs-bar {
    position: fixed;
    width: 100%;
    height: 20%;
    bottom: 0;
    left: 0;
    z-index: 5;
    display: flex;
  }
  .query-locs-input-wrapper {
    flex: 1;
    background: rgb(77, 193, 223);
    height: 100%;
    width: 100%;
  }
  .query-locs-bar input {
    width: 100%;
    height: 20%;
    padding: 0px 0px;
    font-size: 0.8em;
    border: none;
    outline: none;
  }
  .query-btn {
    text-align: center;
    width: 50%;
  }
  .locs-name {
    visibility: visible;
  }
  .button-holder {
    visibility: visible;
    min-width: 250px;
    margin-left: -125px;
    background-color: rgba(51, 51, 51, 0.363);
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 8px;
    position: fixed;
    z-index: 1;
    left: 45%;
    bottom: 30px;
  }
  .modal-msg {
    height: 100%;
    margin: 0 auto;
    z-index: 15;
    background: rgba(202, 202, 202, 0.274);
    border: 1px solid #013f52;
  }
  .modal {
    padding-top: 0%;
  }
}
@media (max-height: 600px) {
  .nav-main {
    position: fixed;
    top: 26%;
    left: 90%;
    padding: 0;
  }
  .nav-menu {
    background-color: rgb(25, 99, 117);
    border: 1px solid rgb(243, 245, 216);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    z-index: 100;
    font-size: 27px;
    padding: 0;
    color: white;
    animation: bounce 1s infinite alternate;
    -webkit-animation: bounce 1s infinite alternate;
  }

  .query-btn-mobile {
    background-color: #013f52;
    border: 1px solid rgba(255, 255, 255, 0.205);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    width: 50%;
    cursor: pointer;
  }
  .query-locs-bar {
    position: fixed;
    width: 100%;
    height: 20%;
    bottom: 0;
    left: 0;
    z-index: 5;
    display: flex;
  }
  .query-locs-input-wrapper {
    flex: 1;
    background: rgb(25, 99, 117);
    height: 90%;
    width: 100%;
  }
  .query-locs-bar input {
    width: 100%;
    height: 100%;
    padding: 0px 0px;
    font-size: 0.8em;
    border: none;
    outline: none;
  }
  .query-btn {
    visibility: visible;
  }
  .locs-name {
    visibility: visible;
  }
  .button-holder {
    visibility: visible;
    min-width: 250px;
    margin-left: -125px;
    background-color: rgba(51, 51, 51, 0.363);
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 8px;
    position: fixed;
    z-index: 1;
    left: 45%;
    bottom: 10px;
  }
  .infowindow {
    font-size: 0.6em;
    max-width: 300px;
    max-height: 150px;
  }
  .infowindow .title {
    color: rgba(0, 58, 165, 0.795);
  }
  .infowindow .address {
    color: rgb(90, 90, 90);
    text-transform: lowercase;
  }
  .modal-msg {
    height: 100%;
    margin: 0 auto;
    z-index: 15;
    background: rgba(202, 202, 202, 0.274);
    border: 1px solid #013f52;
  }
  .modal {
    padding-top: 0%;
    font-size: 30px;
  }
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
